* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #282c34;
}

.app-container {
  margin: 24px auto 0;
  max-width: 900px;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.breadcrumbs {
  margin-left: 25px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}

.item {
  flex-basis: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
