* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #282c34;
}

.app-container {
  margin: 24px auto 0;
  max-width: 900px;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.app-loader-placeholder {
  font-size: 24px;
  margin-left: 25px;
}

.breadcrumbs {
  display: flex;
  gap: 24px;
  margin-left: 25px;
}

.breadcrumbs-item {
  font-size: 24px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}

.item {
  flex-basis: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.loader {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-top-color: rgba(255, 255, 255, 1);
  border-radius: 100%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
